* {
    margin: 0;
    padding: 0;
}
/* footer{
    border: 5px solid orange;
} */
.footer {
    background-color: rgb(206, 206, 206);
    color: rgb(240, 87, 113);
    text-align: center;
    height: 10vh;
}

p {
    padding: 26px;
    font-size: 18px;
}