@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
}
.nav-bar {
  padding: 12px 8px 12px 8px;
  margin: 12px 8px 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.left-side a {
  margin-left: 44px;
}
.list-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.list-items li sup {
  color: rgb(209, 25, 86);
}
.list-items li:hover {
  color: #f13ab1;
  cursor: pointer;
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar input {
  width: 450px;
  padding: 12px;
  margin-left: 24px;
  border: none;
  background-color: #eeeeee;
}
.icons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
