@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

main {
  min-height: calc(100vh - 72px - 10vh);
  margin-top: 44px;
  background-color: white;
}

.slider-dot {
  background-color: white;
  display: flex;
  justify-content: center;
}
.slider-dot span {
  margin: 24px 4px;
  height: 10px;
  width: 10px;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 100%;
  background-color: rgb(194, 193, 193);
}
span.first-dot{
  border: 1px solid grey;
  background-color: grey;
}

.slider {
  width: 100%;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slides img{
  width: 100%;
  height: fit-content;
}

.heading-items {
  margin: 32px 44px 0px 44px;
  font-size: 32px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.category-card {
  height: 100%;
  padding: 30px 44px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 columns */
  grid-template-rows: auto auto; /* 2 rows */
  justify-items: center;
}

.same-style {
  margin: 18px 0px;
  width: 180px;
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  border: none;
}
.same-styling-1 {
  background-image: url(Images/img1.png);
}
.same-styling-2 {
  background-image: url(Images/img2.png);
}
.same-styling-3 {
  background-image: url(Images/img3.png);
}
.same-styling-4 {
  background-image: url(Images/img4.png);
}
.same-styling-5 {
  background-image: url(Images/img5.png);
}
.same-styling-6 {
  background-image: url(Images/img6.png);
}
.same-styling-7 {
  background-image: url(Images/img7.png);
}
.same-styling-8 {
  background-image: url(Images/img8.png);
}
.same-styling-9 {
  background-image: url(Images/img9.png);
}
.same-styling-10 {
  background-image: url(Images/img10.png);
}
.same-styling-11 {
  background-image: url(Images/img11.png);
}
.same-styling-12 {
  background-image: url(Images/img12.png);
}
.same-styling-13 {
  background-image: url(Images/img13.png);
}
.same-styling-14 {
  background-image: url(Images/img14.png);
}
.same-styling-15 {
  background-image: url(Images/img15.png);
}

.inner-div {
  margin: 4px;
  height: 100px;
  width: 100%;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner-div h4 {
  font-size: 16px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.1rem;
}

.line {
  text-align: center;
  color: black;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 500;
}
